header{
    background-color: blue;
    padding: 25px;
}
footer{
    background-color: green;
    padding: 25px;
}
nav{
    color: white;
    text-align: center;
}
h6{
    text-align: center;
    color:white;
}
img{
    margin: 20px;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color:blueviolet;
}
button{
    border: none;
    background-color: red;
    color:white;
    border-radius: 5px;
    margin-bottom: 5px;
}
#gold{
    background-color: rgba(150, 55, 75, 0.9);
    color:rgb(255, 255, 255);
}
#silver{
    color: hsl(250, 50%, 50%);
    background-color: hsla(120, 40%, 60%);
}
/**#lateness{
    color:#aa3c99;
    background-color: #a5f4e2;
}**/
/**this is a comment**/
